VisualC.zip
Makefile
Makefile.in
paragui.spec
paragui.spec.in
libtool
paragui-config
aclocal.m4
config.h.in
xmingw32msvc-paragui.spec
configure
stamp-h
stamp-h.in
*-stamp
*.tar.gz
*.kdevses
*.kdevprj
paragui.pc
config.*
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
*.prw
*.pws
*.prj
*.patch
*.kdevelop
*.cache
*.mlz
*.rtf
*.diff
paragui-1.*
*.gz
*.doxygen
.cdtproject
.externalToolBuilders
patches
autopackage
paragui-config.1
Doxyfile
*.pcs
stamp-h1
.settings
configure.lineno
.anjuta
TODO.tasks
_configs.sed
